{% extends 'index.html' %} {% block result %}
<iframe src="https://www.youtube.com/embed/{{id}}" frameborder="0"></iframe>
<div class="box-button2" id="result">
  <form action="/mp4" method="post">
    <select name="itag" id="itag">
      {% for i in vid.streams.filter(progressive=True) %}
      <option value="{{i.itag}}">{{i.resolution}}</option>
      {% endfor %}
    </select>
    <button type="submit" id="download">
      <h2>Download</h2>
      <i class="fa-solid fa-download"></i>
    </button>
  </form>
  
  <form action="/">
    <button type="submit"><i class="fa-sharp fa-solid fa-chevron-left"></i>
    <h2>Back</h2>
    </button>
  </form>
</div>
{% endblock %}
